Source: koha-l10n
Priority: optional
Maintainer: Mason James <mtj@kohaaloha.com>
Section: web
Standards-Version: 3.8.4
Build-Depends:
 debhelper

Package: koha-l10n
Architecture: all
Description: contains language files for koha (22.11)
